# Pi-Hole should route all domain requests to the below address:
# 192.168.2.2 - if the homelab server is connected via ethernet cable
# 192.168.2.3 - if connection is via Wi-Fi
#
# Both settings are mutually exclusive.
#
# Two local domains are supported:
# 1) home.arpa
# 2) homelab.local
#
# The 1) is the preferred domain as it is reserved for local networks per RFC 8375.
#     See: https://en.wikipedia.org/wiki/.arpa
# The 2) option uses mDNS and in theory does not need custom DNS server to work.
#     However, if local services are to be accessed by their subdomains (e.g., app.homelab.local),
#     mDNS has to be then redirected to a reverse proxy (in this instance the same server).

address=/home.arpa/192.168.2.2
address=/homelab.local/192.168.2.2
# address=/home.arpa/192.168.2.3
# address=/homelab.local/192.168.2.3

address=/yourspotify.${EXTERNAL_DOMAIN}/192.168.2.2
