{
	auto_https disable_redirects
	admin 0.0.0.0:2019

    log {
        output file /etc/caddy/logs/latest.log {
			roll_size 10MiB
		}
        format console
        level DEBUG
    }
}

(ovh_dns_challenge) {
    tls {
        dns ovh {
            endpoint ovh-ca
            application_key {env.OVH_APPLICATION_KEY}
            application_secret {env.OVH_APPLICATION_SECRET}
            consumer_key {env.OVH_CONSUMER_KEY}
        }
    }
}

http://modem.homelab.local,
http://modem.home.arpa {
	reverse_proxy 192.168.1.1
}

http://router.homelab.local,
http://router.home.arpa {
	reverse_proxy 192.168.2.1
}

http://home.homelab.local,
http://home.home.arpa {
	reverse_proxy homepage:3000
}

http://dns.homelab.local,
http://dns.home.arpa {
	reverse_proxy pihole:80
}

http://docker.homelab.local,
http://docker.home.arpa {
	reverse_proxy dockhand:3000
}

http://files.homelab.local,
http://files.home.arpa {
	reverse_proxy filebrowser:80
}

http://tv.homelab.local,
http://tv.home.arpa {
	reverse_proxy jellyfin:8096
}

http://strava.homelab.local,
http://strava.home.arpa {
	reverse_proxy statistics_for_strava:8080
}

http://sonarr.homelab.local,
http://sonarr.home.arpa {
	reverse_proxy sonarr:8989
}

http://radarr.homelab.local,
http://radarr.home.arpa {
	reverse_proxy radarr:7878
}

http://sabnzbd.homelab.local,
http://sabnzbd.home.arpa,
http://usenet.homelab.local,
http://usenet.home.arpa  {
	reverse_proxy sabnzbd:8080
}

http://prowlarr.homelab.local,
http://prowlarr.home.arpa {
	reverse_proxy prowlarr:9696
}

http://jellyseerr.homelab.local,
http://jellyseerr.home.arpa,
http://requests.homelab.local,
http://requests.home.arpa {
	reverse_proxy jellyseerr:5055
}

http://spotify.homelab.local,
http://spotify.home.arpa {
	redir https://yourspotify.{$EXTERNAL_DOMAIN}
}

yourspotify.{$EXTERNAL_DOMAIN} {
	@client {
		path /
		path /manifest.json /*.ico /*.js /*.png
		path /_next/* /static/*
		path /login /logout
	}

    reverse_proxy @client your_spotify_client:3000
    reverse_proxy your_spotify_server:8080

	import ovh_dns_challenge
}

# Return HTTP Status 404 for all undefined subdomains
http://*.homelab.local,
http://*.home.arpa {
	abort
}
