{
	auto_https off
}

http://modem.homelab.local,
http://modem.home.arpa {
	reverse_proxy 192.168.1.1
}

http://router.homelab.local,
http://router.home.arpa {
	reverse_proxy 192.168.2.1
}

http://home.homelab.local,
http://home.home.arpa {
	reverse_proxy homepage:3000
}

http://dns.homelab.local,
http://dns.home.arpa {
	reverse_proxy pihole:80
}

http://docker.homelab.local,
http://docker.home.arpa {
	reverse_proxy dockge:5001
}

http://homeassistant.homelab.local,
http://homeassistant.home.arpa {
	reverse_proxy homeassistant:8123
}

# Return HTTP Status 404 for all undefined subdomains
http://*.homelab.local,
http://*.home.arpa {
	abort
}
